.weather-details {
  background-color: rgba(0, 0, 0, 0.652);
  border-radius: 30px;
  height: 330px;
  position: relative;
  width: 780px;
}

.weather-details .extra-details {
  height: 328px;
  left: 533px;
  position: absolute;
  top: 0;
  width: 247px;
}

.weather-details .UV {
  height: 139px;
  left: 131px;
  position: absolute;
  top: 172px;
  width: 107px;
}

.weather-details .text-time {
  height: 73px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 111px;
}

.weather-details .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 107px;
}

.weather-details .div {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 105px;
}

.weather-details .uv-white {
  height: 58px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 58px;
}

.weather-details .pressure {
  height: 139px;
  left: 0;
  position: absolute;
  top: 172px;
  width: 114px;
}

.weather-details .text-time-2 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 118px;
}

.weather-details .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 113px;
}

.weather-details .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 110px;
}

.weather-details .pressure-white {
  height: 58px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 58px;
}

.weather-details .wind-speed {
  height: 138px;
  left: 131px;
  position: absolute;
  top: 21px;
  width: 107px;
}

.weather-details .text-time-3 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 65px;
  width: 111px;
}

.weather-details .wind {
  height: 59px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.weather-details .humidity {
  height: 133px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 114px;
}

.weather-details .text-time-4 {
  height: 73px;
  left: 0;
  position: absolute;
  top: 60px;
  width: 118px;
}

.weather-details .img {
  height: 50px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.weather-details .icon-weather {
  height: 311px;
  left: 254px;
  position: absolute;
  top: -8px;
  width: 272px;
}

.weather-details .overlap-group {
  height: 311px;
  position: relative;
  width: 270px;
}

.weather-details .type-of-weather {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  height: 53px;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 258px;
  width: 129px;
}

.weather-details .clear {
  height: 270px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 270px;
}

.weather-details .main-details {
  height: 291px;
  left: 24px;
  position: absolute;
  top: 15px;
  width: 206px;
}

.weather-details .text-wrapper-4 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 80px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 0;
  white-space: nowrap;
  width: 204px;
}

.weather-details .feels-like {
  height: 50px;
  left: 5px;
  opacity: 0.8;
  position: absolute;
  top: 89px;
  width: 190px;
}

.weather-details .element-c {
  color: #ffffffcc;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 80px;
}

.weather-details .span {
  font-weight: 600;
}

.weather-details .text-wrapper-5 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
}

.weather-details .text-wrapper-6 {
  color: #ffffffcc;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
  width: 97px;
}

.weather-details .sunset {
  height: 61px;
  left: 26px;
  position: absolute;
  top: 230px;
  width: 153px;
}

.weather-details .overlap-group-wrapper {
  height: 61px;
  left: 59px;
  position: absolute;
  top: 0;
  width: 98px;
}

.weather-details .overlap-group-2 {
  height: 61px;
  position: relative;
  width: 94px;
}

.weather-details .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 84px;
}

.weather-details .text-wrapper-8 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  width: 94px;
}

.weather-details .sunset-white {
  height: 48px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 48px;
}

.weather-details .sunrise {
  height: 55px;
  left: 26px;
  position: absolute;
  top: 165px;
  width: 153px;
}

.weather-details .text-time-5 {
  height: 55px;
  left: 59px;
  position: absolute;
  top: 0;
  width: 98px;
}

.weather-details .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 92px;
}

.weather-details .sunrise-white {
  height: 48px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 48px;
}
